@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<header class="page-header bg-primary pb-10">
    <div class="container py-4">
        <div class="row">
            <div class="col-9">
                <h2 class="text-white">Manage your account</h2>
                <h4 class="text-white-50">Change your account settings</h4>
            </div>
        </div>
    </div>
</header>

<div class="container mt-n10">
    <div class="card p-5">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            
            <div class="offset-md-1 col-md-8 border rounded-lg p-4 mt-4 mt-md-0">
                @RenderBody()
            </div>
    </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
