@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container mt-4">
    <div class="card card-icon">
        <div class="row no-gutters">
            <div class="col-auto card-icon-aside bg-success">
                <i class="fal fa-mailbox text-white"></i>
            </div>
            <div>
                <div class="card-body p-5">
                    <h1 class="text-success">@ViewData["Title"]</h1>
                    <p class="text-body">Please check your email to reset your password.</p>
                </div>
            </div>
        </div>
    </div>
</div>