@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}


<div class="container mt-4">
    <div class="card card-icon">
        <div class="row no-gutters">
            <div class="col-auto card-icon-aside bg-success">
                <i class="fal fa-sign-out text-white"></i>
            </div>
            <div>
                <div class="card-body p-5">
                    <h1 class="text-success">@ViewData["Title"]</h1>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-success">Click here to Logout</button>
                            </form>
                        }
                        else
                        {
                            <p class="text-success">You have successfully logged out of the application.</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>