@page
@model SparkAuto.Areas.Identity.Pages.Account.VerifyEmailModel




    <div class="text-lg-center" style="padding-top:100px;">
        <h1>New Admin Account</h1>
        <p style="color:orangered">
            To maintain a secure site Admin Accounts need to be manually approved.
            <br />
            Please contact the Application Administrator to approve the new Account.

        </p>
    </div>