@page
@model SparkAuto.Pages.Settings.IndexModel
@using SparkAuto.Models

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Settings";

    string ivavalue = Model.cv == null ? "0.00" : Model.cv.iva.ToString();
    string envCharge = Model.cv == null ? "0.00" : Model.cv.envCharge.ToString();

}

<header class="page-header bg-primary pb-10">
    <div class="container py-4">
        <div class="row">
            <h1 class="text-white"> <i class="fad fa-cog"></i> Application Settings</h1>
        </div>
    </div>
</header>
<div class="container mt-n10">
    <div class="card">
        <div class="card-body p-5">
            <form action="" method="POST">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Tax:</label>
                            <input type="text" name="iva" class="form-control form-control-solid" value="@ivavalue">
                        </div>
                        <div class="form-group">
                            <label>Environment Charge:</label>
                            <input type="text" name="envCharge" class="form-control form-control-solid" value="@envCharge">
                        </div>
                        <div class="form-group mt-5">
                            <button type="submit" class="btn btn-success rounded-pill">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>